<div class="container">
	<nav class="navbar navbar-expand-sm fixed-top navbar-dark bg-dark">
		<a class="navbar-brand" href="/">The Playlist</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse justify-content-end cl-effect-16" id="navbarNav">
			<a class="nav-item nav-link" href="/" data-hover="Home">Home</a>
			<a class="nav-item nav-link" href="/playlist" data-hover="Playlists">Playlists</a>
			<a class="nav-item nav-link" href="/user/profile" data-hover="Profile">Profile</a>
			<a class="nav-item nav-link" href="/playlist/create" data-hover="Create">Create</a>
		</div>
	</nav>
</div>