<!DOCTYPE html>
<html>
<head>
	<% include ../partials/head %>
</head>
<body>
	<header>
		<% include ../partials/header %>
	</header>
	
	<img class="logo" src="../styles/images/favicon.png" alt="the Playlistlogo" height="60%" width="auto">
	<main>
		<div class="contentContainer">
			<div class="video-background">
			    <div class="video-foreground">
			      <iframe src="https://www.youtube.com/embed/W0LHTWG-UmQ?controls=0&showinfo=0&rel=0&autoplay=1&loop=1&playlist=W0LHTWG-UmQ" frameborder="0" allowfullscreen></iframe>
			    </div>
			</div>
		</div>
	</main>

	<footer class="footer">
		<% include ../partials/footer %>
	</footer>
</body>
</html>