<!DOCTYPE html>
<html>
<head>
	<% include ../../partials/head %>
</head>
<body>
	<header>
		<h1>The Playlist</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/playlists">Playlists</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<a href="/user/signup">Sign Up</a>
		<h2>Log in</h2>
	</main>
</body>
</html>