<!DOCTYPE html>
<html>
<head>
	<% include ../../partials/head %>
</head>
<body>
	<header>
		<% include ../../partials/header %>
	</header>
	<main>
	<div class="container contentContainer">
		<a href="/user/signup">Sign Up</a>
		<h2>Log in</h2>
	</div>
	</main>
	<footer class="footer">
		<% include ../../partials/footer %>
	</footer>
</body>
</html>