<!DOCTYPE html>
<html>
<head>
	<% include ../../partials/head %>
</head>
<body>
	<header>
		<% include ../../partials/header %>
	</header>
	<main>
		<div class="container">
			<form action="/user/signup" method="POST">
				<input type="text" name="username" placeholder="Username"><br>
				<input type="text" name="firstName" placeholder="First Name"><br>
				<input type="text" name="lastName" placeholder="Last Name"><br>
				<button type="submit">Create</button>
			</form>
		</div>
	</main>
</body>
</html>