@mainColor: #292929;
@backgroundColor: #E0E0E0;
@font: 'Titillium Web', sans-serif;

body {
	background-color: @backgroundColor;
	color: @mainColor;
	font-family: @font;
	font-weight: bold;
	a{
		text-decoration: none;
		font-size: 1.5em;
		color: @mainColor;
	}
	a:hover{
		text-decoration: underline;
		color: black;
	}
}
