html,
body {
  height: 100%;
  background-color: #E0E0E0;
}
body {
  background-color: #E0E0E0;
  color: #343a40;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
  padding-top: 70px;
  display: flex;
  flex-direction: column;
}
.container {
  display: flex;
}
.logo {
  display: block;
  margin: 0 auto;
  z-index: 100;
}
* {
  box-sizing: border-box;
}
.video-background {
  background: #000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
}
.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}
#vidtop-content {
  top: 0;
  color: #fff;
}
.vid-info {
  position: absolute;
  top: 0;
  right: 0;
  width: 33%;
  background: rgba(0, 0, 0, 0.3);
  color: #fff;
  padding: 1rem;
  font-family: Avenir, Helvetica, sans-serif;
}
@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}
@media (max-aspect-ratio: 16/9) {
  .video-foreground {
    width: 300%;
    left: -100%;
  }
}
@media all and (max-width: 600px) {
  .vid-info {
    width: 50%;
    padding: .5rem;
  }
  .vid-info h1 {
    margin-bottom: .2rem;
  }
}
@media all and (max-width: 500px) {
  .vid-info .acronym {
    display: none;
  }
}
.cl-effect-16 a {
  color: #6f8686;
  text-shadow: 0 0 1px rgba(111, 134, 134, 0.3);
}
.cl-effect-16 a::before {
  color: #fff;
  content: attr(data-hover);
  position: absolute;
  opacity: 0;
  text-shadow: 0 0 1px rgba(255, 255, 255, 0.3);
  -webkit-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  -moz-transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  transform: scale(1.1) translateX(10px) translateY(-10px) rotate(4deg);
  -webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
  -moz-transition: -moz-transform 0.3s, opacity 0.3s;
  transition: transform 0.3s, opacity 0.3s;
  pointer-events: none;
}
.cl-effect-16 a:hover::before,
.cl-effect-16 a:focus::before {
  -webkit-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  -moz-transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  transform: scale(1) translateX(0px) translateY(0px) rotate(0deg);
  opacity: 1;
}
div.card {
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
  text-align: center;
}
main {
  flex: 1 0 auto;
}
.footer {
  flex-shrink: 0;
  padding: 20px;
  text-align: center;
  z-index: 100;
}
.footer p {
  margin: 0;
}
#profileRow {
  max-width: 800px;
  justify-content: space-between;
  margin: auto;
}
.profilePicture {
  display: block;
  max-width: 150px;
  max-height: 150px;
  min-width: 150px;
  min-height: 150px;
  width: auto;
  height: auto;
  border: solid #343a40 5px;
  border-radius: 50%;
  box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.2), 0 8px 22px 0 rgba(0, 0, 0, 0.19);
}
#profileBox {
  align-self: center;
  text-align: right;
}
#profileUsername {
  font-size: 4.5rem;
}
#profilePlaylistContainer {
  max-width: 800px;
  margin: auto;
  margin-top: 40px;
}
.errorText {
  color: red;
}
.thumbnail {
  max-width: 160px;
  max-height: 80px;
  min-width: 160px;
  min-height: 80px;
}
.result {
  display: flex;
  height: 80px;
  margin-top: 10px;
}
.resultText {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 5px;
  overflow: hidden;
}
.resultText h6 {
  font-size: 1.25em;
  margin: 0;
}
.resultText p {
  font-size: .5em;
  font-weight: normal;
  margin: 0;
}
.addPage {
  height: 75vh;
}
.resultsAndVideos {
  overflow-x: hidden;
  overflow-y: scroll;
  height: inherit;
}
#title {
  font-size: 2rem;
  text-align: center;
}
#videos {
  height: 65vh;
}
.playlist_title {
  text-align: center;
  margin: 20px 20px 20px 20px;
}
.btn-primary {
  margin: 40px;
}
.playlist_links {
  margin: 10px;
}
#button_flip {
  display: flex;
  flex-direction: column-reverse;
}
