body {
  background-color: #E0E0E0;
  color: #292929;
  font-family: 'Titillium Web', sans-serif;
  font-weight: bold;
}
body a {
  text-decoration: none;
  font-size: 1.5em;
  color: #292929;
}
body a:hover {
  text-decoration: underline;
  color: black;
}
