body {
  background-color: #0FA59A;
  color: #4E403B;
  font-family: 'Indie Flower', cursive;
  font-weight: bold;
}
body a {
  text-decoration: none;
  font-size: 1.5em;
  color: #4E403B;
}
body a:hover {
  text-decoration: underline;
  color: black;
}
