<!DOCTYPE html>
<html>
<head>
	<% include ../../partials/head %>
</head>
<body>
	<header>
		<h1>The Playlist</h1>
		<nav>
			<ul>
				<li><a href="/">Home</a></li>
				<li><a href="/user">Users</a></li>
			</ul>
		</nav>
	</header>
	<main>
		<h2>Create</h2>
		<h2>Browse</h2>
		<input type="text" name="search" placeholder="Search">
	</main>
</body>
</html>