<!DOCTYPE html>
<html>
<head>
	<% include ../../partials/head %>
</head>
<body>
	<header>
		<% include ../../partials/header %>
	</header>
	<main>
		<h2>Create</h2>
		<h2>Browse</h2>
		<input type="text" name="search" placeholder="Search">
	</main>
	<footer class="footer">
		<% include ../../partials/footer %>
	</footer>
</body>
</html>