<!DOCTYPE html>
<html>
<head>
	<% include ../../partials/head %>
</head>
<body>
	<header>
		<% include ../../partials/header %>
	</header>
	<main>
	<div class="container contentContainer" style="display: none;">
		<a href="/playlists/new"><h2>Create</h2></a>
		<h2>Browse</h2>
		<input data-search="" type="text" name="search" placeholder="Search">
		<%playlists.forEach((playlist) =>{%>
			<a href="/playlists/<%= playlist._id %>" data-title="<%=playlist.title%>"><%=playlist.title%><br></a>
		<%})%>
	</div>
	</main>
	<footer class="footer">
		<% include ../../partials/footer %>
	</footer>
	<script>
	$("[data-search]").on('change',(e)=>{
		$("[data-title]").each((el)=>{
			if($(el).data('title').match(e.target.value)){
				$(el).show();
			}else{
				$(el).hide();
			}
		})
	})
	</script>	
</body>
</html>