<!DOCTYPE html>
<html>
<head>
	<% include ../../partials/head %>
</head>
<body>
	<header>
		<% include ../../partials/header %>
	</header>
	<main>
		<div class="container contentContainer" style="display: none;"> 
		<form action="/playlists" method="POST">
			<input type="text" name="title" placeholder="Title"><br>
			<input type="text" name="url" placeholder="url"><br>

			<input type="text" name="views" placeholder="Playcount"><br>
			<input type="text" name="type" placeholder="Type"><br>
			<input type="text" name="genre" placeholder="Genre"><br>
			<button>Submit</button>
		</form>
	</div>
	</main>
	<footer class="footer">
		<% include ../../partials/footer %>
	</footer>
</body>
</html>