<!DOCTYPE html>
<html>
	<head>
		<% include ../../partials/head %>
	</head>
	<body>
		<header>
			<% include ../../partials/header %>
		</header>
		<footer class="footer">
			<% include ../../partials/footer %>
		</footer>
		<main>
			<div class="container contentContainer" style="display: none;">
				<h1 class="playlist_title"><%= playlist.title %></h1>

				<% if (playlist.videoIds) { %>
				<iframe width="640" height="360" src="http://www.youtube.com/embed/<%= playlist.videoIds[0] %>?version=3&loop=1&$autoplay=1<% if (playlist.videoIds > 1){ %>&playlist=<% } %><% for (let i = 1; i < playlist.videoIds.length; i++){ %><%= playlist.videoIds[i] %>,<% } %>" frameborder="0" allowfullscreen><% } %>
			</div>
		</main>
		
	</body>
</html>
















